<div id="home_page">
      
      <img class="body_image"img src="http://upload.wikimedia.org/wikipedia/commons/4/4e/Justice_in_concert.jpg"></img>
      
      <h1>Find an Event, Artist or Venue!</h1>
      
        <ul>
          <li><a href="/events"> View Events</a></li>
          <li><a href="/artist/index"> View Artists</a></li>
          <li><a href="/venues/index"> View Venues</a></li>
        </ul>

    </div>