<h1>Welcome, find an Event, Artist or Venue!</h1>


<ul>
<li><a href="/events"> View Events</a></li>
<li><a href="/artist/index"> View Artists</a></li>
<li><a href="/venues/index"> View Venues</a></li>

</ul>