
<p>
  <a href="/artist/new">Add new user</a>
</p>

<% @all_artists.each do |u| %>
  <%#
    So here, `u` is a User object (meaning it's an *instance* of the
    User class). So we can run *instance* methods on `u`.
  %>

  <p>
    <a href="/artist/<%= u.id %>"><%= u.name %></a
      
      <% end %>